extends layout 

block content 
  h1= title 

  h2= item.name 
  p Effect: #{item.effect} 
  p Rarity: #{item.rarity}
  p Type:  #{item.type} 
  p Cost: #{item.cost}
  p Class: #{undefined===item.class ? 'All' : item.class}
  
